@{
    ViewData["Title"] = "Inicio";
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">
            <div class="banner-content col-lg-12 col-md-12">
                <h1 class="text-xl-left">
                    <span style="font-size:3rem;">
                        CENTRO DE MEDICINA REPRODUCTIVA <br>
                        INTEGRAL Y ATENCION FEMENINA
                    </span>
                </h1>
                <p>
                    Eres importante para nosotros, por eso valoramos tu tiempo! Haz una cita a través de nuestra plataforma y ahórrate tiempo y esfuerzo.
                </p>
                <a class="primary-btn2 mt-20 text-uppercase" asp-controller="Admin" asp-action="Index">Hacer una cita<span class="lnr lnr-arrow-right"></span></a>
            </div>
            <!--
            <div class="col-lg-6 d-flex align-self-end img-right">
                <img class="img-fluid" src="" alt="">
            </div>    
            -->
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area section-gap" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-rocket"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA NEURO ORTOPEDIA</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-chart-bars"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA DE REEMPLAZO ARTICULAR</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-bug"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA DE MEDICINA DEPORTIVA Y ATROSCOPIA</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-heart-pulse"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA DE MANO, CODO Y HOMBRO</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row pb-30">
                    <div class="icon">
                        <span class="lnr lnr-paw"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA DE RECONSTRUCCION DE MIEMBROS INFERIORES</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="single-feature d-flex flex-row">
                    <div class="icon">
                        <span class="lnr lnr-users"></span>
                    </div>
                    <div class="desc">
                        <h4 class="text-uppercase">CLINICA PONSITI Y PIE EQUINO VARO</h4>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” <br> women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start about Area -->
<section class="about-area" id="contact">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end align-items-center">
            <div class="col-lg-6 col-md-12 about-left no-padding">
                <img class="img-fluid" src="~/images/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 about-right no-padding">
                <div style="padding-top:2em;">
                    <h1>Contacto</h1>
                    @if(ViewBag.Success != null)
                    {
                        <div class="alert alert-info">@ViewBag.Success</div>
                    }
                </div>
                <form class="booking-form" asp-controller="Home" asp-action="Contact" method="post">
                    <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                            <input name="From" placeholder="Correo electrónico" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="form-control mt-20" type="email" required>
                        </div>
                        <div class="col-lg-6 d-flex flex-column">
                            <input name="Firstname" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" class="form-control mt-20" type="text" required>
                        </div>
                        <div class="col-lg-6 d-flex flex-column">
                            <input name="Lastname" placeholder="Apellido" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellido'" class="form-control mt-20" type="text" required>
                        </div>
                        <div class="col-lg-12 flex-column">
                            <textarea class="form-control mt-20" name="Message" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje'" required=""></textarea>
                        </div>

                        <div class="col-lg-12 d-flex justify-content-end send-btn" style="padding-bottom:1em;">
                            <button type="submit" class="btn btn-primary btn-sm">Enviar mensaje<span class="lnr lnr-arrow-right"></span></button>
                        </div>

                        <div class="alert-msg"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->
<!-- Start consultans Area -->
<section class="consultans-area section-gap" id="us">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-80 header-text">
                <h1>Médicos Especializados</h1>
                <p>
                    ¡Contamos con los mejores médicos especializados del país!
                    <a class="btn btn-sm btn-secondary" asp-controller="Doctors" asp-action="Index">Ver todos</a>
                </p>
            </div>
        </div>
        <div class="doctorsSlider">
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="single-con">
                    <div class="content">
                        <a href="#" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image img-fluid d-block mx-auto" src="~/images/c4.jpg" alt="">
                            <div class="content-details fadeIn-bottom">
                                <h4>Andy Florence</h4>
                                <p>
                                    CEMERAF
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End consultans Area -->
<!-- Start fact Area 
<section class="facts-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-fact">
                <h2 class="counter">2536</h2>
                <p class="text-uppercase">Clients Served</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <h2 class="counter">6784</h2>
                <p class="text-uppercase">X-rays Done</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <h2 class="counter">1059</h2>
                <p class="text-uppercase">Worldwide stuff</p>
            </div>
            <div class="col-lg-3 col-md-6 single-fact">
                <h2 class="counter">2239</h2>
                <p class="text-uppercase">Lives Saved</p>
            </div>
        </div>
    </div>
</section>
 end fact Area -->
