@{
    ViewData["Title"] = "Ayuda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Ayuda</h2>
        </div>
    </div>
    <br />
    <br />
    <div class="row">

    </div>
</div>


