@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}
<br />
<br />
<br />
<br />
<header>
   <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4">
           <div align="center">
               <h1 class="text-danger">@ViewData["Title"]</h1>
               <p class="text-danger">No estás autorizado para realizar esta acción.</p>
           </div>
       </div>
       <div class="col-md-4"></div>
   </div>
</header>
